body{
  overflow-x: hidden;
  background-image: url('images/Sky.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
img {
  width: 120px;
  height: auto;
  position: relative;
  margin-top: 250px;
  animation: fly 5s linear infinite;
}

@keyframes fly {
  0%{
    left:0;
  }
  20%{
    left:15%;
    transform: translateY(0);
  }
  45%{
    transform: translateY(-70px);
  }
  65%{
    transform: translateY(-150px);
  }
  100%{
    left:100%;
    transform: translateY(-250px);
  }
}